/*=========google font==============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');


/*=========common css start=========*/

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p,
a {
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1170px;
    margin: auto;
}
/*=================common css end===============================*/

/*=============== time save hero section start==================*/



#time_save_hero {
    padding: 70px 20px 70px 20px;
    background: #03989E;
}
.moni_time_save_hero_row {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.moni_time_save_hero_title {
    font-family: var(--zds-typography-heading-display,"Inter",Helvetica,arial,sans-serif);
    font-size: 55px;
    line-height:60px;
    font-weight:800;
    letter-spacing: -1px;
    color: #FFFDF9;
    margin-bottom: 20px;
}
.moni_time_save_hero_descrption {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #FFFDF9;
    text-align: center;
    margin-bottom: 20px;
}
.moni_time_save_hero_col {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}
.moni_dec_icon_wrapper {
    max-width: 570px;
    text-align: center;
    margin: auto;
    position: relative;
}
.svg_icon_wrapper {
    width: 50px;
    position: absolute;
    right: -70px;
    top: 15px;
}
.svg {
    width: 60plx;
    width: 53px;
    position: absolute;
    top: 15px;
    right: -60px;
}

/*============ time save hero section end==================*/

/*===============user card section start==================*/

#user_card {
    padding: 50px 20px;
    background: #FFFDF9;
}
.moni_user_card_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.moni_user_card_col {
    flex-basis: 32%;
    margin-bottom: 5px;
}
.moni_user_card_inner_wrapper {
    display: flex;
    padding: 15px;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid #e8e7e4;
    border-radius: 5px;
    transition-duration: 300ms;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
}
.moni_user_card_inner_wrapper:hover {
    box-shadow: rgba(0,0,0,0.1) 0px 5px 10px 0px;
}
.moni_user_card_inner_icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background-color: #fffdf9;
    border: 1px solid #e8e7e4;
    border-radius: 5px;
    margin-right: 15px;
}
.moni_user_card_inner_icon i {
    height: 30px;
    width: 30px;
    text-align: center;
    color: #95928e;
    font-size: 28px;
    transition: .5s ease;
}
.moni_user_card_inner_icon_text p {
    color: #2d2e2e;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    transition: .5s ease;
}

.moni_user_card_inner_icon_text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.moni_user_card_inner_wrapper:hover .moni_user_card_inner_icon i {
    color: #3d4592;
}
.moni_user_card_inner_wrapper:hover .moni_user_card_inner_icon_text p{
    color: #3d4592;
}

/*===================user card section end===================*/

/*===============user case card section end==================*/

section#user_case_card {
    padding: 50px 20px;
    background: #FFFDF9;
}
h2.moni_user_case_card_title {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 50px;
    color: #2d2e2e;
}
.moni_user_case_card_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.moni_user_case_card_col {
    max-width: 370px;
}
.block {
    display: block;
}

.moni_user_case_wrapper {
    padding: 30px;
    display: flex;
    background-color:#fffdf9;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid#e8e7e4;
    height: 100%;
    min-height: 305px;
    max-width: 370px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    margin: auto;
    transition: .5s ease;
}
.moni_user_case_card_img_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.moni_user_case_card_img_wrapper img {
    width: 100%;
    height: 55px;
    width: auto;
}

h3.moni_user_case_inner_heading {
    font-size: 24px;
    color: #2d2e2e;
    line-height: 32px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 10px;
}

p.moni_user_case_inner_des_heading {
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    color: #403f3e;
    margin-bottom: 10px;
}

p.moni_user_case_inner_link {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #3d4592;
    text-decoration: underline;
}

.moni_user_case_wrapper:hover {
    box-shadow: rgba(0,0,0,0.2) 0px 5px 10px 0px;
}

.moni_user_case_card_btn {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moni_user_case_card_btn a {
    display: inline-block;
    border: 1px solid #3d4592;
    border-radius: 3px;
    height: 50px;
    width: 270px;
    font-size: 18px;
    font-weight: 600;
    color: #3d4592;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
}
.moni_user_case_card_btn a:hover{
    background-color:#F0F1FA;
    border-color: #3d4592;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    color:#3d4592;
}

/*===============user case card section end==============*/

/*=============sign up account section start=============*/

#sign_up_account {
    background: #F6FFDB;
    padding: 70px 20px;
}
.moni_signup_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.moni_sign_up_content {
    width: 100%;
    text-align: center;
}

h2.moni_sign_up_heading {
    font-family: var(--zds-typography-heading,"Inter",Helvetica,arial,sans-serif);
    font-size:40px;
    line-height:45px;
    font-weight:700;
    color: #2d2e2e;
    margin-bottom: 10px;
}

p.moni_sign_up_para {
    font-family: var(--zds-typography-base,"Inter",Helvetica,arial,sans-serif);
    font-size: 18px;
    line-height:25px;
    font-weight: 400;
    padding-bottom: 30px;
    color: #424242;
}

.moni_sign_up_account {
    width: 100%;
}
.moni_sign_up_account_wrapper {
    border-radius: 4px;
    border: 1px solid var(--zds-colors-gray-20, #e6e6e6);
    padding: 20px;
    max-width: 450px;
    margin:auto;
    background-color: #FFFDF9;
}

.moni_same_btn {
    border-radius: 5px;
    margin-bottom: 15px;
}
.google{
    background-color: rgb(66, 133, 244);
    transition: .3s;
}
.google:hover{
    background: #3367D6;
}
.fb{
    background: #3B5999;
}
.microsoft{
    background: #2d2e2e;
    transition: .3s;
}
.microsoft:hover{
    background: #403F3E;
}

.moni_same_btn a {
    font-size: 15px;
    font-weight: 700;
    color: #fffdf9;
    display: block;
    padding: 15px;
}

.moni_same_btn {
    position: relative;
}
.moni_same_btn span i {
    position: absolute;
    left: 15px;
    top: 9px;
}
.moni_same_btn a {
    text-align: center;
    display: block;
}

.moni_same_btn span i {
    display: block;
    background: #FFFDF9;
    width: 30px;
    height: 27px;
    text-align: center;
    padding-top: 5px;
    border-radius: 3px;  cursor: pointer;
    color: #3367D6;
    font-size: 18px;
}

.hr_section {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
}
.hr {
    width: 45%;
    height: 0;
    border-top: 1px solid #E6E6E6;
    opacity: .4;
}

.or {
    padding: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #757575;
}
.moni_email label {
    color: #4F4E4D;
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}
.moni_required {
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}
.moni_email input {
    width: 100%;
    border: 1px solid #95928e;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #2d2e2e;
    background: #FFFDF9;
    border-radius: 3px;
    margin-bottom: 30px;
    transition: .2s;
}
.moni_email input:hover{
    border: 1px solid #3B5999;
}
.moni_first_last_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.moni_first_name {
    flex-basis: 48%;
}
.moni_last_name {
    flex-basis: 48%;
}
.moni_first_name label{
    color: #4F4E4D;
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}
.moni_first_name input{
    width: 100%;
    border: 1px solid #95928e;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #2d2e2e;
    background: #FFFDF9;
    border-radius: 3px;
    margin-bottom: 30px;
    transition: .2s;
}
.moni_first_name input:hover{
    border: 1px solid #3B5999;
}
.moni_last_name label{
    color: #4F4E4D;
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}
.moni_last_name input{
    width: 100%;
    border: 1px solid #95928e;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #2d2e2e;
    background: #FFFDF9;
    border-radius: 3px;
    margin-bottom: 30px;
    transition: .2s;
}
.moni_last_name input:hover{
    border: 1px solid #3B5999;
}
.moni_Get_Started_Free a {
    display: block;
    background: #FF4F00;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #FFFDF9;
    padding: 12px 0px;
    border-radius: 20px;
    transition: .3s;
}
.moni_Get_Started_Free a:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px
}

.moni_sign_up_link {
    color: #403f3e;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.link_1 {
    color: #3d4592;
    text-decoration: underline;
}
.link_2 {
    color: #3d4592;
    text-decoration: underline;
}
.link_2:hover {
    color: #2c3266;
    text-decoration: underline;
}
.link_1:hover {
    color: #2c3266;
    text-decoration: underline;
}

/*============sign up account section end====================*/

/*=================footer section start=====================*/


#footer {
    padding: 30px 20px;
    background: #e3e3e3;
}

.footer-follow-us {
    font-size: 14px;
    font-weight: 600;
    color: #2d2e2e;
}
.footer-linkIcon-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer-linkIcon-wrapper {
    display: flex;
    align-items: center;
}
.footer-linkIcon {
    display: flex;
    align-items: center;
}
.footer-linkIcon li {
    padding: 0px 10px;
}
.footer-linkIcon li a i {
    display: inline-block;
    color: #FFFDF9;
    background: #a8a5a0;
    padding: 8px;
    border-radius: 100%;
    transition: ease-in-out 0.3s;
}

.footer-linkIcon li a i {
    display: inline-block;
    background: #a8a5a0;
    color: #FFFDF9;
    padding: 8px 0;
    border-radius: 100%;
    font-size: 14px;
    transition: 0.3s;
    width: 30px;
    height: 30px;
    text-align: center;
}
.fb:hover {
    background: #46629E;
}
.in:hover {
    background: #0976B4;
}
.wifi:hover {
    background: #FF4F00;
}
.youtube:hover {
    background: #E52D27;
}
.twitter:hover {
    background: #00ACED;
}
.footer-link-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.footer-link-wrapper li {
    padding: 0 10px;
}
.footer-link-wrapper li a {
    font-size: 16px;
    font-weight: 600;
    color: #2d2e2e;
    line-height: 25px;
}
.footer-link-wrapper li a:hover {
    color: #3d4592;
}
.footer-copy-right-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-copy-right-link {
    display: flex;
    align-items: center;
}

.footer-copy-right-link-list {
    display: flex;
    align-items: center;
}

.footer-copy-right-link-list li {
    padding: 0px 10px;
}
.footer-link-wrapper li a:hover {
    color: #3d4592;
}

.footer-copy-right-link-list li a:hover {
    color: #3d4592;
}

.footer-copy-right-link-list li a {
    font-size: 14px;
    font-weight: 700;
    color: #2d2e2e;
}
.line {
    border-left: 1px solid #d7d5d2;
    border-right: 1px solid #d7d5d2;
}

/*=========footer section end===========*/
